body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #676a6c;
}
.chart-container{
	position: relative;
}

.connect{
	stroke-width:1px !important;
}
.topLinkLayer .connect{
	fill-opacity:0.1 !important;
}
.bottomFocus.connect{
	fill-opacity:0.9 !important;
}
.bottomContext.connect{
	fill-opacity:0.2 !important;
}

.link.topContext{
	stroke:#04B45F;
	fill:#04B45F;
	stroke-width:1px;
	stroke-opacity: .1;
	fill-opacity:0;
}

.link.topFocus{
    stroke:#045FB4;
    fill:#045FB4;
	stroke-width:3px;
	stroke-opacity: .1;
	fill-opacity:0;
}
.link.bottomFocus{
    stroke:#FDA4A3;
    fill:#FDA4A3;
	stroke-opacity: .9;
	fill-opacity:0;
}

.link.bottomContext{
	stroke:#FDA4A3;
	fill:#FDA4A3;
	stroke-width:1.5px;
	stroke-opacity: .2;
	fill-opacity:0;
}

.chartView{
	height: 500px;
  width: 1000px;
}

.bottomArea .tranNode{
	fill:#FDA4A3;
	stroke:#B43104;
	stroke-opacity:.6;
}

.tranNode:hover {
	stroke:#000000 !important;
	stroke-width:2px !important;
	stroke-opacity:.9 !important;
}

.topArea .tranNode.topFocus{
	fill:#00C1DB;
	stroke:#045FB4;
	stroke-opacity:.6;
}

.topArea .tranNode.topContext{
	fill:#A9E0CB;

	stroke:#04B45F;
	stroke-opacity:.6;
}

.nonfocusLayer .layerBackground.even{
	fill:#9CCBB9;
	fill-opacity:.5;
}

.nonfocusLayer .layerBackground.odd{
	fill:#9CCBB9;
	fill-opacity:1;
}

.focusLayer .layerBackground{
	fill:#00A8BF;
	fill-opacity:1;
}



.bottomArea .layerBackground.odd{
	fill:#F5A9A9;
	fill-opacity:.3;
}
.bottomArea .layerBackground.even{
	fill:#F78181;
	fill-opacity:.5;
}

.layerBackground{
	opacity: 0.25;
}
.areaBorder{
	stroke:#000000;

}

.layerBackground.midArea{
	fill:#CEECF5;
}

.dot{
	fill-opacity:.8;
	stroke:#424242;
	stroke-width:1px;
}
/*
.tranLink{
	stroke:#8181F7;
}*/

.xaxis path{
	display:none;
}

.link.fraudLink{
	stroke:blue;
}

.rowLabel{
	font-size: 12px !important;
}

.rowLabelBackground{
	fill:none;
	
	stroke:#BDBDBD;
	stroke-opacity:.4;
	/*
	stroke:red;*/
}
.navBar{
	fill:#FACC2E;
	stroke:#B18904;
	opacity:.4;
}

.navBar:hover{
	opacity:.8 !important;
}

.tickLine{
	stroke:#6E6E6E;
	stroke-width:.5px;
	stroke-opacity:.7;
}

.zoomTickLine{
	stroke:#A4A4A4;
	stroke-width:1px;
	stroke-opacity:.8;
	stroke-dasharray:[5,5];
}
.zoomTimeLabel{
	font-size: 9px;
}

.contextLink{
	stroke:##A4A4A4;
}

.fraudAmountMark{
	fill:#8A0808;
}

.tick text{
	font-size: 10px;
}